body {
    background-color: white;
    font-family: 'Noto sans', sans-serif;
    font-weight: 400;
    background-color: white;
    overflow-x: hidden; 
    position: relative;
    margin: 0;
    padding: 0;
}

.container .container-fluid {
    padding: 0;
    --bs-gutter-x: -1.5em;
}

.row {
    margin-bottom: 0;
    line-height: normal;
    width: 100vw;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 300;
    padding: 10px;
    text-align: center;  
}

/* Nav Bar */

.navbar li {
    font-size: 1.4em;
}

.navbar i {
    font-size: 1.7rem;
    color: #2B3A67;
    margin-right: 1.5em;
}

.dropdown-menu li{
    font-size: 1rem;
}

#sign-in {
    color: #2B3A67;
}

#sign-in:hover {
    color: #496A81;
}

#sign-out {
    color:#2B3A67;
}

#sign-out:hover {
    color: #496A81;
}

/* Home page */

.homepage-collecting {
    background-color: #B8BFA8;
}

.container-fluid {
    width: 100vw;
    --bs-gutter-x: 0em;
    margin:0;
}

#hero-image {
    opacity: 70%;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.coffee-info {
    font-weight: bold;
}

.card {
    padding: 20px;
    border-color: #B3AF8F;
    border-width: 2px;
    margin: 30px;
    border-style: solid;
}

.card-text {
    color: #2B3A67;
    font-size: 1.25rem;
}

.coffee-chain {
    align-items: center;
    background-color:  white;
    width: 100vw;
    margin: 0;
}

.collecting-title {
    margin-top: 0;
}

#carouselExampleCaptions {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.carousel-inner {
    height: auto;
    align-content: center;
    justify-content: center;
}

.carousel-item .active {
    width: 80vw;
    padding: 0;
    justify-content: left;
    height: 350px;
    margin: 0;
    display: flex;
    color: black;
}

.carousel-caption {
    color: black;
    font-size: 1.25rem;
}

.carousel-control-previous {
    width: 60vw;
}

.carousel-control-next {
    width: 60vw;
}

.carousel-control-prev-icon {
    background-color:black;
}

.carousel-control-next-icon {
    background-color: black;
}

.carousel-indicators [data-bs-target] {
    background-color: #A2412E;
}

.carousel-indicators {
    margin-bottom: 0;
}

.big-icon img {
    transform: scale(0.2);
}


/* Coffees */

.coffees {
    margin-bottom: 5px;
}

.coffee-card {
    width: 300px;
    height: fit-content;
}

.coffee-text {
    color: #2B3A67;
    font-size: 1rem;
}

.coffee-entries {
    width: 100vw;
    height: fit-content;
    margin-top: 25px;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
}

.btn-like {
    border: none;
    color:#2B3A67;
}

.btn-like:hover,
.btn-like:active {
    color: #2B3A67;
    border: none;
}

/* About Us */

.about-us {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.about-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 25px 0;
    padding: 0;
}

#about-image {
    width: 100vw;
    padding: 0;
    margin: 0;
    margin-left: -1.5rem;
}

/* Contribute/Join */ 

.join {
    background-color: #B8BFA8;
    padding: 0;
}

.join-us {
    width: 100vw;
    align-items: center;
    justify-items: center;
    padding: 0;
}

.join-info {
    padding: 10px;
    margin-bottom: 50px;
}

.join-card .card  {
    width: 100vw;
    padding: 0;
    margin: 0;
    background-size: cover;
    text-align: center;
}

.join-heading {
    margin-top: 50px;
    margin-bottom: 20px;
}

.col {
    margin-bottom: 50px;
}

.row {
    width: 100vw;
}

#join-image {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100vw;
    
}

.join-form {
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0 auto;
    max-width: 50%; 
}

.join-info {
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0 auto;
    max-width: 50%; 
    display: flex;
}

.join-form li {
    list-style: none;
}


.join-button {
    background-color: #2B3A67;
    border-color: #B3AF8F;
    color: white;
    padding: 5px;
    margin: 0 auto;
    justify-content: center;
}

.join-button:hover {
    background-color: #496A81;
    color: white;
}

.sign-out {
    padding: 5px;
    margin: 50px 0px 50px 0px;
    text-align: center;
}


/* Footer */ 

.footer-fixed {
    display: flex;
    flex-direction: row;
    background-color: #2B3A67;
    height: fit-content;
    width: 100vw;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
}

#contact {
    color: white;
    font-size: 1rem;
    padding: 20px;
}

.social-links li {
    list-style: none;
    margin: 50px 0px 50px 0px;
    width: 32px;
    height: 32px;
    padding: 25px;
}

.social-links i {
    font-size: 2rem;
    color: white;  
}

#small-print p {
    font-size: smaller;
    color:  white;
    margin: 50px 0 25px 0;
    text-align: center;
}

@media only screen and (max-width: 400px) {
    .card {
        max-width: 80%;
    }

    #hero-image {
        width: 100vw;
        margin: 0;
        --bs-gutter-x :0;
    }

    .container-fluid {
        padding: 0;
    }

    .container {
        padding: 0;
    }
   
    .navbar {
        padding: 0;
        width: 100vw;
        margin: 0;
    }

    .navbar-brand {
        margin: 0;
    }

    .card-text {
        font-size: small;
    }

    .big-icon {
        transform: scale(0.5);
        padding: 10px;
    }

    .carousel-caption {
        text-align: left;
    }

    .carousel-inner {
        width: 100vw;
    }

    .carousel-item {
        margin: 0;
    }

    .social-links li{
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .row {
        margin: 0;
    }

    .card-img-overlay {
        padding: 20px;
        font-size: small;
        width: 80vw;
        margin: 12px;
    }

    .join-info {
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    #about-image { 
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    .about-us {
        margin: 0;
    }

    .collect {
        padding: 10px;
        margin-top: 50px;
    }

    #contact {
        font-size: small;
        text-align: center;
    }

    .join-form {
        width: 100vw;
        margin: 0 20px 0 20px;
        justify-items: center; 
    }

    .mb-3 {
        width: 90vw;
    }

    .footer-fixed {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: fit-content;
        width: 100vw;
    }

    #contact {
        font-size: small;
        margin: 0;
        text-align: center;
        line-height: 0.5em;
    }

    .social-links {
        justify-content: center;
        padding: 20px;
        margin-bottom: 25px;
    }

    #small-print {
        margin: 0;
    }
}

@media only screen and (max-width: 576px) {
    .footer-fixed {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: fit-content;
        width: 100vw;
    }

    .social-links {
        justify-content: center;
        padding: 20px;
        margin-bottom: 25px;
    }

    .list-inline {
        margin: 0;
        text-align: center;
        align-items: center;
    }

    #small-print {
        margin: 0;
    }

}


@media only screen and (max-width: 768px) {
    
    .footer-fixed {
        display: flex;
        align-items: center;
        height: fit-content;
        width: 100vw;
        flex-direction: column;
    }

    .container-fluid {
        padding: 0;
    }

    #hero-image {
        width: 100vw;
        margin: 0;
    }

    #about-image {
        width: 100vw;
        margin: 0;
    }

    .footer.container-fluid {
        --bs-gutter-x: -1.5rem;
        padding: 0;
    }

    #contact {
        font-size: small;
        margin: 0;
        text-align: center;
        line-height: 0.5em;
    }

    #small-print {
        padding: 0;
        text-align: center;
        margin: 0;
        line-height: 0%;
        color: white;
        height: auto;
    }

    .social-links {
        justify-content: center;
        padding: 20px;
        margin-bottom: 25px;
    }

    .social-links li {
        margin: 0;
        align-items: center;
        line-height: 0%;
        height: auto;
    }
}