body {
    background-color: white;
    font-family: 'Noto sans', sans-serif;
    font-weight: 400;
    background-color: white;
    overflow-x: hidden; 
    position: relative;
    margin: 0;
    padding: 0;
}

#hero-image {
    opacity: 70%;
    width: 100vw;
    padding: 0;
    margin: 0;
    margin-left: -1.5rem;
}

#about-image {
    width: 100vw;
    padding: 0;
    margin: 0;
    margin-left: -1.5rem;
}

.join-card  {
    width: 100vw;
    padding: 0;
    margin: 0 auto;
    
}

.card-title {
    color: #A2412E;
}
.card-img {
    opacity: 50%;
}

.card.bg-dark{
    margin: 0 auto;
    background-size: 100%;
}

.card-img-overlay {
    padding: 20px;
    margin: 0 auto;
    margin-top: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    max-width: 70%;
}


h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 300;
    padding: 10px;
    text-align: center;
    
}

.navbar li {
    font-size: 1.4em;
}

.navbar i {
    font-size: 1.7rem;
    color: 2B3A67;
    margin-right: 1.5em;
}

#sign-in {
    color: #2B3A67;
}

.card {
    padding: 20px;
    border-color: #B3AF8F;
    border-width: 2px;
    margin: 30px;
    border-style: solid;
}

.card-text {
    color: 2B3A67;
    font-size: 1.25rem;
}

.coffee-chain {
    align-items: center;
    background-color: #B3AF8F;
    width: 100vw;
}

.carousel-inner {
    width: 75vw;
    justify-content: center;
}

.carousel-caption {
    color: white;
    font-size: 1.25rem;
}

.carousel-caption h3 {
    color: #A2412E;
    font-family: 'Fjalla One', sans-serif;
}

.big-icon img {
    transform: scale(0.2);
}

.coffees {
    margin-bottom: 25px;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 25px 0 25px 0;
}

.join-heading {
    margin-top: 20px;
    margin-bottom: 20px;
}

.join-form {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 60%;
    padding-bottom: 20px;
}

.join-button {
    background-color: #2B3A67;
    border-color: #B3AF8F;
}

.join-button:hover {
    background-color: #B3AF8F;
}

footer {
    background-color: #2B3A67;
    height: 250px;
    width: min-content;
    margin: 0 auto;
    padding: 0;
}

#contact {
    color: white;
    font-size: 1.25rem;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.social-links li {
    list-style: none;
    text-align: center;
    margin-top: 10%;
    width: 32px;
    height: 32px;
}


.social-links i {
    font-size: 2rem;
    color: #B3AF8F;
    padding: 10px;
}

@media only screen and (max-width: 400px) {
    .card {
        max-width: 80%;
    }

    #hero-image {
        width: 100vw;
        margin: 0;
        --bs-gutter-x :0;
    }

    .container-fluid {
        padding: 0;
    }

    .container {
        padding: 0;
    }
   
    .navbar {
        padding: 0;
        width: 100vw;
        margin: 0;
    }

    .navbar-brand {
        margin: 0;
    }

    .card-text {
        font-size: small;
    }

    .big-icon {
        transform: scale(0.5);
        padding: 10px;
    }

    .carousel-caption {
        text-align: left;
    }

    .carousel-inner {
        width: 100vw;
    }

    .carousel-item {
        margin: 0;
    }

    .social-links li{
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .row {
        margin: 0;
    }

    .card-img-overlay {
        padding: 20px;
        font-size: small;
        width: 80vw;
        margin: 12px;
    }

    .about.callout.jumbotron {
        font-size: small;
        width: 80vw;
    }

    #about-image {
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    .about-us {
        margin: 0;
    }

    #contact {
        font-size: small;
        text-align: center;
    }

    .join-form {
        width: 80vw;
        margin: 0;
        text-align: center;
    }

    .footer {
        overflow-x: hidden;
    }
}