* {
    box-sizing: border-box;
    font-family: 'Noto sans', sans-serif;
    margin: 0; 
    padding: 0;
}

body {
    background-color: white;
    overflow-wrap: hidden;
    font-family: 'Noto sans', sans-serif;
    font-weight: 400;
    background-color: white;
    overflow-x: hidden;
}

#hero-image {
    width: 100vw;
    margin-bottom: 15px;
    opacity: 70%; 
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 300;
    padding: 10px;
}

.navbar li {
   font-size: 1.3em;
}

.navbar i {
    font-size: 1.7rem;
    color: 2B3A67;
    margin-right: 1.5rem;
}

#sign-in {
    color: #2B3A67;
}

.card {
    padding: 20px;
    border-color: #B3AF8F;
    border-width: 2px;
    margin: 65px;
    border-style: solid;
    width: 80vw;
    display: flexbox;
    align-content: center;
}

.card-text {
    color: 2B3A67;
    font-size: 1.25rem;
}


.collecting {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    flex:1;
}

.coffee-chain {
    justify-content: center;
    background-color: #B8BFA8;
}

.carousel-inner {
    width: 75vw; 
    justify-content: center;
}

.carousel-caption {
    color: white;
    font-size: 1.25rem;
}

.carousel-caption h3 {
    color: #A2412E;
    font-family: 'Fjalla One', sans-serif;
}


.big-icon img {
    transform: scale(0.2);
}

footer {
    background-color: white;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact {
    color: black;
    font-size: 1.25rem;
    display: flex;
    padding: 10px;
    margin: 20px;
    display: inline-flex;
    flex-direction: column;
}

.social-links li {
    list-style: none;
    display: inline-flex;
    margin-top: 25%; 
}

.social-links i {
    font-size: 1.75rem;
    color: #2B3A67;
    padding: 10px;
    margin: 10px; 
}


/* Media Quieries */

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
   
    }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

