{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="about-us">
    <div class="container-fluid">
        <img src="{% static 'images/about.png' %}" id="about-image" alt="close up of pouring water from kettle sinto cupping bowls">
    </div>

    <div class="row">
        <div class="about-info col-12">
            <section class="about callout jumbotron text-center">
                <h1 class="collect">Coffee Collect</h1>
                <br>
                <p class="lead">We are a coffee sourcing database.<br>We are building a network for coffee roasters,
                    <br>and drinkers to gather
                    information <br> on the coffees they are consuming. <br><br>

                    We exist to bring transparency and knowledge to the coffee distribution and making process.

                </p>
            </section>
        </div>
    </div>
</div>

{%endblock%}