{% extends "base.html" %}

{% block content %}
{% load static %}

<h1 class="coffees">Coffees</h1>

<div class="container-fluid w-100 mb-2 d-flex">
    <!--New Database Entries here-->
        {% for coffee in coffees %}
        <div class="row coffee-entries">
            <div class="coffee-card card col-xs-12 col-md-3">
                <img src="{% static 'images/colombia.png' %}" class="card-img-top" alt="photo of empty coffee cup">
                <div class="card-body">
                    <p class="coffee-text"><span class="coffee-info">Producer:
                        </span><span>{{ coffee.producer }}</span></p>
                    <p class="coffee-text"><span class="coffee-info">Region:
                        </span><span>{{ coffee.region }}</span></p>
                    <p class="coffee-text"><span class="coffee-info">Variety:
                        </span><span>{{ coffee.variety }}</span>
                    </p>
                    <p class="coffee-text"><span class="coffee-info">Process:
                        </span><span>{{ coffee.process }}</span>
                    </p>
                    <p class="coffee-text"><span class="coffee-info">Flavour Notes:
                        </span><span>{{ coffee.flavournotes }}</span></p>
                    <hr>
                </div>
                <strong>
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'coffee_like' coffee.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="coffee_like" value="{{ coffee.slug }}" class="btn-like"><i
                                class="fas fa heart"></i></button>
                        {% else %}
                        <button type="submit" name="coffee_like" value="{{ coffee.slug }}" class="btn-like"><i
                                class="far fa heart"></i></button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span class="text-secondary"><i class="far fa-heart"></i></span>
                    {% endif %}
                    <span class="text-secondary">{{ coffee.number_of_likes }}</span>
                </strong>
           
            </div>
        </div> 
        {% endfor %}
</div>

{% endblock content %}