{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="container-fluid">
    <h1 class="coffees">Coffees</h1>
    <div class="row coffee-entries">
        {% for coffee in coffees %}
        <div class="coffee-card card col-xs-12 col-md-4">
            <img src="{% static 'images/colombia.png' %}" class="card-img-top" alt="photo of coffee farm">
            <div class="card-body">
                <p class="coffee-text"><span class="coffee-info">Producer:
                    </span><span>{{ coffee.producer }}</span></p>
                <p class="coffee-text"><span class="coffee-info">Region:
                    </span><span>{{ coffee.region }}</span></p>
                <p class="coffee-text"><span class="coffee-info">Variety:
                    </span><span>{{ coffee.variety }}</span>
                </p>
                <p class="coffee-text"><span class="coffee-info">Process:
                    </span><span>{{ coffee.process }}</span>
                </p>
                <p class="coffee-text"><span class="coffee-info">Flavour Notes:
                    </span><span>{{ coffee.flavournotes }}</span>
                    <br>
                    {% if "Apricot" in coffee.flavournotes %}
                    <span><img src="{% static 'images/apricot.png' %}" alt="apricot icon"></span>
                    {% endif %}
                    {% if "Blackberry" in coffee.flavournotes %}
                    <span><img src="{% static 'images/blackberry.png' %}" alt="blackberry icon"></span>
                    {% endif %}
                    {% if "Blood Orange" in coffee.flavournotes %}
                    <span><img src="{% static 'images/blood-orange.png' %}" alt="blood orange icon"></span>
                    {% endif %}
                    {% if "Blueberry" in coffee.flavournotes %}
                    <span><img src="{% static 'images/blueberry.png' %}" alt="blueberry icon"></span>
                    {% endif %}
                    {% if "Brown Sugar" in coffee.flavournotes %}
                    <span><img src="{% static 'images/brown-sugar.png' %}" alt="brown sugar icon"></span>
                    {% endif %}
                    {% if "Butterscotch" in coffee.flavournotes %}
                    <span><img src="{% static 'images/butterscotch.png' %}" alt="butterscotch icon"></span>
                    {% endif %}
                    {% if "Caramel" in coffee.flavournotes %}
                    <span><img src="{% static 'images/caramel.png' %}" alt="caramel icon"></span>
                    {% endif %}
                    {% if "Chamomile" in coffee.flavournotes %}
                    <span><img src="{% static 'images/chamomile.png' %}" alt="chamomille icon"></span>
                    {% endif %}
                    {% if "Cherry" in coffee.flavournotes %}
                    <span><img src="{% static 'images/cherry.png' %}" alt="cherry icon"></span>
                    {% endif %}
                    {% if "Chocolate" in coffee.flavournotes %}
                    <span><img src="{% static 'images/chocolate-bar.png' %}" alt="chocolate bar icon"></span>
                    {% endif %}
                    {% if "Cinnamon" in coffee.flavournotes %}
                    <span><img src="{% static 'images/cinnamon.png' %}" alt="cinnamon icon"></span>
                    {% endif %}
                    {% if "Currant" in coffee.flavournotes %}
                    <span><img src="{% static 'images/currant.png' %}" alt="currant icon"></span>
                    {% endif %}
                    {% if "Ginger" in coffee.flavournotes %}
                    <span><img src="{% static 'images/ginger.png' %}" alt="ginger icon"></span>
                    {% endif %}
                    {% if "Green Apple" in coffee.flavournotes %}
                    <span><img src="{% static 'images/green-apple.png' %}" alt="green apple icon"></span>
                    {% endif %}
                    {% if "Green Grape" in coffee.flavournotes %}
                    <span><img src="{% static 'images/green-grape.png' %}" alt="green grape icon"></span>
                    {% endif %}
                    {% if "Hazelnut" in coffee.flavournotes %}
                    <span><img src="{% static 'images/hazelnut.png' %}" alt="hazelnut icon"></span>
                    {% endif %}
                    {% if "Hibiscus" in coffee.flavournotes %}
                    <span><img src="{% static 'images/hibiscus.png' %}" alt="hibiscus icon"></span>
                    {% endif %}
                    {% if "Lemon Curd" in coffee.flavournotes %}
                    <span><img src="{% static 'images/lemon-curd.png' %}" alt="lemon curd icon"></span>
                    {% endif %}
                    {% if "Lemon" in coffee.flavournotes %}
                    <span><img src="{% static 'images/lemon.png' %}" alt="lemon icon"></span>
                    {% endif %}
                    {% if "Lychee" in coffee.flavournotes %}
                    <span><img src="{% static 'images/lychee.png' %}" alt="lychee icon"></span>
                    {% endif %}
                    {% if "Marshmallow" in coffee.flavournotes %}
                    <span><img src="{% static 'images/marshmallow.png' %}" alt="marshmallow icon"></span>
                    {% endif %}
                    {% if "Melon" in coffee.flavournotes %}
                    <span><img src="{% static 'images/melon.png' %}" alt="melon icon"></span>
                    {% endif %}
                    {% if "Nougat" in coffee.flavournotes %}
                    <span><img src="{% static 'images/nougat.png' %}" alt="nougat icon"></span>
                    {% endif %}
                    {% if "Peach" in coffee.flavournotes %}
                    <span><img src="{% static 'images/peach-icon.png' %}" alt="peach icon"></span>
                    {% endif %}
                    {% if "Pear" in coffee.flavournotes %}
                    <span><img src="{% static 'images/pear.png' %}" alt="pear icon"></span>
                    {% endif %}
                    {% if "Plum" in coffee.flavournotes %}
                    <span><img src="{% static 'images/plum.png' %}" alt="plum icon" ></span>
                    {% endif %}
                    {% if "Red Apple" in coffee.flavournotes %}
                    <span><img src="{% static 'images/red-apple.png' %}" alt="red apple icon"></span>
                    {% endif %}
                    {% if "Red Grape" in coffee.flavournotes %}
                    <span><img src="{% static 'images/red-grape.png' %}" alt="red grape icon"></span>
                    {% endif %}
                    {% if "Rose" in coffee.flavournotes %}
                    <span><img src="{% static 'images/rose.png' %}" alt="rose icon"></span>
                    {% endif %}
                    {% if "Strawberry" in coffee.flavournotes %}
                    <span><img src="{% static 'images/strawberry.png' %}" alt="strawberry icon"></span>
                    {% endif %}
                    {% if "White Sugar" in coffee.flavournotes %}
                    <span><img src="{% static 'images/white-sugar.png' %}" alt="white sugar icon"></span>
                    {% endif %}
                </p>
                <hr>
            </div>
            <strong>
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'coffee_like' coffee.slug %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="likes" value="{{ coffee.slug }}" class="btn-like"><i
                            class="fas fa-heart"></i></button>
                    {% else %}
                    <button type="submit" name="likes" value="{{ coffee.slug }}" class="btn-like"><i
                            class="fa-solid fa-heart"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="fa-solid fa-heart"></i></span>
                {% endif %}
                <span class="text-secondary">{{ coffee.number_of_likes }}</span>
            </strong>
            <div>
                {% if user.is_authenticated %}
                    {% if request.user == coffee.user %}
                <span class="update-coffee"><a href="/edit/{{ coffee.slug }}" class="btn btn-outline-secondary">
                        Edit
                    </a></span>
                <span class="update-coffee"><a href="/delete/{{ coffee.slug }}" class="btn btn-outline-danger">
                        Delete
                    </a></span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row coffee-entries">
        {% endif %}
        {% endfor %}
    </div>
    <div class="row w-100 m-0 p-0 d-flex justify-content-center">
        <div class="col-12 m-3 text-center">
            <h2 class="mb-3">Contribute to Our Database</h2>
            {% if request.user.is_authenticated %}
            <form method="POST" class="mb-5">
                <a class="join-button btn btn-signup m-0" href="{% url 'coffee_addition' %}" type="submit">Add
                    a Coffee</a>
            </form>
            {% else %}
            <div class="text-center">
                <p class="p-3">Please <a class="p-1" href="{% url 'account_signup' %}">sign-up</a>for an account to add
                    coffees to our database</p>
                <p class="text-center">Already have an account? Then please <a href="{% url 'account_login' %}">sign
                        in</a></p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
    {% endblock %}