{% extends "base.html" %}

{% block content %}
{% load static %}

<h1 class="coffees">Coffees</h1>

<div class="container-fluid">
    <section>
        <div class="row">
            <div class="card mx-auto col-12 col-sm-12 col-md-5 col-lg-3">
                <img src="{% static 'images/peru.png' %}" class="card-img-top" alt="photo of empty coffee cup">
                <div class="card-body">
                    <p class="card-text"><span class="coffee-info">Producer/Region: </span>Percy Pintado / Cajamara,
                        Peru</p>
                    <p class="card-text"><span class="coffee-info">Variety/Process: </span>Caturra / Washed</p>
                    <p class="card-text"><span class="coffee-info">Flavour Notes: </span>Peach and Chocolate<img
                            src="../static/images/002-peach.png"> <img src="../static/images/003-chocolate-bar.png"
                            alt="peach icon"></p>
                </div>
            </div>
            <div class="card mx-auto col-12 col-sm-12 col-md-5 col-lg-3">
                <img src="{% static 'images/peru.png' %}" class="card-img-top" alt="photo of empty coffee cup">
                <div class="card-body">
                    <p class="card-text"><span class="coffee-info">Producer/Region: </span><span>Jose Perez / Jaen,
                            Peru</span>
                        <p class="card-text"><span class="coffee-info">Variety/Process: </span>Bourbon & Caturra /
                            Washed</p>
                        <p class="card-text"><span class="coffee-info">Flavour Notes: </span>Pear and Butterscotch <img
                                src="../static/images/009-pear.png" alt="pear icon"> <img
                                src="../static/images/024-caramel-1.png"></p>
                </div>
            </div>
            <div class="card mx-auto col-12 col-sm-12 col-md-5 col-lg-3">
                <img src="{% static 'images/peru.png' %}" class="card-img-top" alt="photo of empty coffee cup">
                <div class="card-body">
                    <p class="card-text"><span class="coffee-info">Producer/Region: </span>Monte Grande / Jaen, Peru</p>
                    <p class="card-text"><span class="coffee-info">Variety/Process: </span>Caturra, Catuaí & Pache /
                        Washed</p>
                    <p class="card-text"><span class="coffee-info">Flavour Notes: </span> Plum and Chocolate<img
                            src="../static/images/008-plum.png" alt="plum icon"> <img
                            src="../static/images/003-chocolate-bar.png"></p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="card mx-auto col-12 col-sm-12 col-md-5 col-lg-3">
                <img src="{% static 'images/colombia.png' %}" class="card-img-top" alt="Coffee farm in Colombia">
                <div class="card-body">
                    <p class="card-text"><span class="coffee-info">Producer/Region: </span>Jose Martinez / Huila,
                        Colombia</p>
                    <p class="card-text"><span class="coffee-info">Variety/Process: </span>Pink Bourbon/ Washed</p>
                    <p class="card-text"><span class="coffee-info">Flavour Notes: </span>Peach and Cinnamon<img
                            src="../static/images/002-peach.png" alt="peach icon"> <img
                            src="../static/images/016-cinnamon.png" alt="cinnamon stick icon"></p>
                </div>
            </div>

            <div class="card mx-auto col-12 col-sm-12 col-md-5 col-lg-3">
                <img src="{% static 'images/colombia.png' %}" class="card-img-top" alt="Coffee farm in Colombia">
                <div class="card-body">
                    <p class="card-text"><span class="coffee-info">Producer/Region: </span>Jaime Ariza / Concordia,
                        Colombia</p>
                    <p class="card-text"><span class="coffee-info">Variety/Process: </span>Caturra/ Washed</p>
                    <p class="card-text"><span class="coffee-info">Flavour Notes: </span>Red currant and Chamomille<img
                            src="../static/images/011-currant.png" alt="red current icon"> <img
                            src="../static/images/028-chamomile.png" alt="chamomile icon"></p>
                </div>
            </div>

            <div class="card mx-auto col-12 col-sm-12 col-md-5 col-lg-3">
                <img src="{% static 'images/colombia.png' %}" class="card-img-top" alt="Coffee farm in Colombia">
                <div class="card-body">
                    <p class="card-text"><span class="coffee-info">Producer/Region: </span>Planadas Decaf / Tolima,
                        Colombia</p>
                    <p class="card-text"><span class="coffee-info">Variety/Process: </span>Bourbon, Caturra & Typica/
                        Washed</p>
                    <p class="card-text"><span class="coffee-info">Flavour Notes: </span>Plum and Brown Sugar<img
                            src="../static/images/008-plum.png" alt="plum icon"> <img
                            src="../static/images/brown-sugar.png" alt="brown sugar icon"></p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="card mx-auto col-12 col-sm-12 col-md-5 col-lg-3">
                <img src="{% static 'images/ecuador.png' %}" class="card-img-top"
                    alt="Birds eye view of coffee grounds in Kalita Wave">
                <div class="card-body">
                    <p class="card-text"><span class="coffee-info">Producer/Region: </span>Carmen Tapia / Pichincha,
                        Ecuador</p>
                    <p class="card-text"><span class="coffee-info">Variety/Process: </span>Typica Mejorado/ Washed</p>
                    <p class="card-text"><span class="coffee-info">Flavour Notes: </span>Apricot and Lychee <img
                            src="../static/images/001-apricot.png" alt="apricot icon"> <img
                            src="../static/images/013-lychee.png" alt="lychee icon"></p>
                </div>
            </div>
            <div class="card mx-auto col-12 col-sm-12 col-md-5 col-lg-3">
                <img src="{% static 'images/ecuador.png' %}" class="card-img-top"
                    alt="Birds eye view of coffee grounds in Kalita Wave">
                <div class="card-body">
                    <p class="card-text"><span class="coffee-info">Producer/Region: </span>Alejandra Guzman / Pichincha,
                        Ecuador</p>
                    <p class="card-text"><span class="coffee-info">Variety/Process: </span>Caturra / Washed</p>
                    <p class="card-text"><span class="coffee-info">Flavour Notes: </span>Red currant and Marshmallow<img
                            src="../static/images/011-currant.png" alt="red currant icon"> <img
                            src="../static/images/012-marshmallow.png" alt="marshmallow icon"></p>
                </div>
            </div>
            <div class="card mx-auto col-12 col-sm-12 col-md-5 col-lg-3">
                <img src="{% static 'images/ecuador.png' %}" class="card-img-top"
                    alt="Birds eye view of coffee grounds in Kalita Wave">
                <div class="card-body">
                    <p class="card-text"><span class="coffee-info">Producer/Region: </span>Altos de Marfil / El Limo,
                        Ecuador</p>
                    <p class="card-text"><span class="coffee-info">Variety/Process: </span>Bourbon, Caturra & Typica/
                        Washed</p>
                    <p class="card-text"><span class="coffee-info">Flavour Notes: </span>Blueberries and Caramel<img
                            src="../static/images/031-blueberry.png" alt="blueberry icon"> <img
                            src="../static/images/023-caramel.png" alt="caramel icon"></p>
                </div>
            </div>
        </div>
    </section>
</div>

<!--New Database Entries here-->
<section>
<div class="row">
    <div class="card mx-auto col-12 col-sm-12 col-md-5 col-lg-3">
         {% for post in post_list %}
            <img src="../static/images/peru.png" class="card-img-top" alt="photo of empty coffee cup">
            <div class="card-body">
                <p class="card-text producer"><span class="coffee-info">Producer:
                    </span><span>{{ post.producer }}</span></p>
                <p class="card-text region"><span class="coffee-info">Region: </span><span>{{ post.region }}</span></p>
                <p class="card-text variety"><span class="coffee-info">Variety: </span><span>{{ post.variety }}</span>
                </p>
                <p class="card-text process"><span class="coffee-info">Process: </span><span>{{ post.process }}</span>
                </p>
                <p class="card-text flavour"><span class="coffee-info">Flavour Notes:
                    </span><span>{{ post.flavournotes }}</span></p>
                <hr />
                <strong>

                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}

                        <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like"><i
                                class="fas fa heart"></i></button>

                        {% else %}

                        <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like"><i
                                class="fas fa heart"></i></button>

                        {% endif %}

                    </form>
                    {% else %}

                    <span class="text-secondary"><i class="far fa-heart"></i></span>
                    {% endif %}
                    <span class="text-secondary">{{ post.number_of_likes }}</span>
                </strong>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>
</section>

{%endblock%}