{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="container-fluid">
  <div>
    <img src="{% static 'images/heroimage.png' %}" class="g-0" id="hero-image" alt="close up of coffee plant">
  </div>
  <div class="homepage-collecting">
    <br>
    <br>
    <h1 class="collecting-title">What Are We Collecting?</h1>
      <div class="row">
        <div class="card mx-auto col-12 col-sm-12 col-md-3">
          <img src="{% static 'images/producer.jpg' %}" class="card-img-top"
            alt="photo of farmers hands with coffee fruit">
          <div class="card-body">
            <p class="card-text">Producer/Region</p>
          </div>
        </div>
        <div class="card mx-auto col-12 col-sm-12 col-md-3">
          <img src="{% static 'images/flavour.png' %}" class="card-img-top"
            alt="photo of counter culture coffee flavour wheel">
          <div class="card-body">
            <p class="card-text">Flavour Notes</p>
            <br>
            <br>
          </div>
        </div>
        <div class="card mx-auto col-12 col-sm-12  col-md-3">
          <img src="{% static 'images/variety.png' %}" class="card-img-top" alt="photo of green coffee beans">
          <div class="card-body">
            <p class="card-text">Variety/Process</p>
          </div>
        </div>
      </div>
  </div>


  <div class="coffee-chain">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="big-icon">
            <img src="{% static 'images/sprout.png' %}" class="d-block" alt="sprouting plant icon">
            <div class="carousel-caption d-md-block">
              <h2>From Origin</h2>
              <p>We trace each coffee back to its' producer and region <br> to learn about their work</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="big-icon">
            <img src="{% static 'images/coffee-beans.png' %}" class="d-block" alt="roasted coffee bean icon">
            <div class="carousel-caption d-md-block">
              <h2>Variety and Process</h2>
              <p>We are capturing the coffee varieties <br> and processes to store in our databse</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="big-icon">
            <img src="{% static 'images/peach.png' %}" class="d-block" alt="peach fruit icon">
            <div class="carousel-caption d-md-block">
              <h2>Flavour Notes</h2>
              <p>All coffees have been tasted by coffee professionals. <br> Flavour notes are shared to track and learn
                about each harvest</p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>


{%endblock%}