{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="container-fluid">
  <div class="join-us">

    <img src="../static/images/join.png" id="join-image" alt="Photo of coffee sacks stacked">
  </div>

  <div class="row g-0">
    <div class="join col-12">
      <section class="callout jumbotron text-center">
        <h1 class="card-title">Coffee Collect Database</h1>
        <br>
        <p class="join-info lead">
          We started Coffee Collect in 2020 during the Covid Pandemic as a way to keep connected with our colleagues
          in the coffee industry. We are a growing resource for coffee professionals and drinkers to learn more
          about where there coffee comes from and highlight some of the unique qualities of the coffee regions we
          represent.
          Too often we consume coffee without thinking of the hard work that goes into it throughout the production,
          and
          distribution chain.
          <br>
          <br>
          We are hoping you will join us and begin adding your own findings to the database, as we look to
          the future of an ever more fragile industry.
        </p>
      </section>
    </div>
  </div>
</div>
</div>


<section class="container-fluid">
  <div class="col">
    <h2 class="join-heading text-center">Want to contribute to our Database?</h2>
    <p class="text-center">Sign-up below to start interacting</p>
    <form class="join-form">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="join-button btn btn-primary">Sign-up</button>
    </form>
  </div>
</section>

{%endblock%}